.single-post-home{
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    width: 100%;
    border-radius: 0;
    margin-bottom: 0px;
    margin-top: 1px;
    //
}

.personalData{
  background: white;
    padding: 16px;
    border: none;
    border-radius: 10px;
}

.image-center{
  margin:0 auto;
  width: 70px;
  height: 70px;
  border : 1px solid var(--ion-color-primary);
}

.perfilImg{
  h2{
    font-size: 1.0rem;
    font-weight: 900;
    text-align: center;
    margin-top: 1px;
  }
  p{
    line-height: 0px;
    font-size: 0.8rem;
    font-weight: 400;
    text-align: center;
  }

  .dataPerfil{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    margin-top: 8px;
  }
}

ion-avatar{
  img{
    border: 4px solid var(--ion-color-secondary)
  }
}

.camera{
  position: relative;
  float: right;
}

.message {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 4px;
  white-space: pre-wrap;
}

.my-message {
  background: var(--ion-color-tertiary);
  color: #fff;
}

.other-message {
  background: var(--ion-color-secondary);
  color: #fff;
}

.time {
  color: #dfdfdf;
  float: right;
  font-size: small;
}

.message-input {
  width: 100%;
  border: 1px solid var(--ion-color-medium);
  border-radius: 10px;
  background: #fff;
  resize: none;
  padding-left: 10px;
  padding-right: 10px;
}

.msg-btn {
  --padding-start: 0.5em;
  --padding-end: 0.5em;
}
