<ion-header>
  <ion-toolbar>
    <ion-title text-capitalize>Mi Perfil</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-row class="perfilImg ion-margin-top">
        <ion-col size="12">
          <div>
            <ion-avatar class="image-center">
              <img src="./assets/img/profile1.jpg" @fadein />
            </ion-avatar>
            <div class="camera">
                <ion-button fill="clear" color="secondary" size="large">
                  <ion-icon color="secondary" size="large" name="camera"></ion-icon>
                </ion-button>
            </div>
            <div class="dataPerfil">
              <h2>Josefa Casanova</h2>
              <p>Marketing</p>
            </div>
          </div>
        </ion-col>
    </ion-row>
    <hr class="headerBorderFeed"/>
  <ion-list *ngFor="let item of profile" class="ion-margin-top">
    <ion-item lines="none">
      <ion-icon slot="start" [name]="item.icon"></ion-icon>
      <ion-label>{{ item.name }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
