<ion-header no-border>
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu/main/tabs/home"></ion-back-button>
    </ion-buttons> -->
    <ion-item lines="none">
      <ion-title text-capitalize>{{ _title }}</ion-title>
      <!-- <div class="beforeBackground" *ngIf="beforeImg"></div> -->
      <ion-avatar slot="end">
        <ion-img
          [src]="headerImage"
          #imageAvatar
          (ionImgWillLoad)="update(true)"
        ></ion-img>
      </ion-avatar>
    </ion-item>
  </ion-toolbar>
</ion-header>
