.nameUser {
  h3 {
    font-weight: 400;
    font-size: 1rem;
    line-height: 0;
  }
}

.textViewProfile {
  font-weight: 300;
  line-height: 1.7;
  color: var(--ion-color-secondary);
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
