<ion-split-pane>
  <ion-menu type="push" contentId="principal" side="end" menuId="first">
    <div #processContainer></div>
    <div class="container">
      <div class="ion-text-cente nameUser">
        <h3>Hola, {{ header.lastname }}</h3>
      </div>
      <div
        class="ion-text-center nameUser textViewProfile"
        (click)="closeMenu()"
        routerDirection="root"
      >
        Ver mi perfil
      </div>
      <hr class="headerBorderFeed" />
    </div>
    <ion-content force-overscroll="true" class="ion-padding-top">
      <ion-list>
        <ion-menu-toggle auto-hide="false" *ngFor="let item of items">
          <ion-item
            (click)="redirectView(item.action.routerDirection)"
            routerDirection="root"
            [class.active-item]="
              selectedPath.startsWith(item.action.routerDirection)
            "
            lines="none"
          >
            <fa-icon
              [icon]="item.icon"
              color="primary"
              slot="start"
              style="font-size: 1.1rem;"
            ></fa-icon>
            <ion-label>{{ item.name }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="principal" main></ion-router-outlet>
</ion-split-pane>
