<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaulHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Beneficios</ion-title>
  </ion-toolbar>
  <ion-searchbar
    (ionChange)="buscar($event)"
    placeholder="Buscar"
  ></ion-searchbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item
      lines="full"
      *ngFor="let item of test | filtro: textoBuscar:'title'"
    >
      {{ item.title }}
    </ion-item>
  </ion-list>
</ion-content>
