<ion-content fullscreen>
    <ion-item class="close-fake" lines="none" text-center>
      <ion-button (click)="cerrar()" fill="clear" color="light">
        <ion-icon name="close" slot="start"></ion-icon>
        Cerrar
      </ion-button>
    </ion-item>
  
    <ion-slides [options]="configSlide" #slider>
      <ion-slide>
        <div class="swiper-zoom-container">
            <img [src]="urlImg">
        </div>
      </ion-slide>
    </ion-slides>
  </ion-content>
  