<div class="container">
  <div class="ion-margin-bottom">
    <ion-label style="font-size: 13px; font-weight: 600;">Destacados</ion-label>
  </div>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide
      *ngFor="let banner of banners"
      [style]="banner.img | domSanitizer"
    ></ion-slide>
  </ion-slides>
</div>
