ion-content {
  // --background: url('/assets/img/Bg-2.png') no-repeat center center / cover;
}

.margin-form {
  margin-top: 65%;
}

.spin {
  position: fixed;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
}
ion-spinner {
  width: 70px;
  height: 70px;
  stroke: #444;
  fill: #222;
}
