<ion-content padding>
  <form #form="ngForm" (ngSubmit)="login(form)" class="margin-form">
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center>
          <div padding>
            <!-- <ion-item lines="none">
              <ion-input name="email" [disabled]="spinner && !loginUser" type="email" placeholder="tu@email.com" ngModel></ion-input>
            </ion-item>
            <ion-item lines="none" class="ion-margin-top">
              <ion-input name="password" [disabled]="spinner && !loginUser" type="password" placeholder="Password" ngModel></ion-input>
            </ion-item> -->
          </div>
          <ion-row *ngIf="spinner" class="ion-align-items-center">
            <div class="spin">
              <ion-col size="12">
                <ion-spinner color="primary" name="crescent"></ion-spinner
              ></ion-col>
            </div>
          </ion-row>
          <div *ngIf="!spinner" padding>
            <ion-button
              size="large"
              type="submit"
              [disabled]="form.invalid"
              expand="block"
              >Login</ion-button
            >
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
