.container-circle {
    padding: 0px 9px 0px;
  }
  .circle{
    .swiper-slide {
      background-position: center;
      background-size: cover;
      img {
        border-bottom-left-radius: 13px;
        border-bottom-right-radius: 13px;
        border-top-left-radius: 13px;
        border-top-right-radius: 13px;
        padding: 2px;
      }
    }
  }

  .container-normal {
    padding: 0px 16px 0px;
  }
  .normal{
    .swiper-slide {
      background-position: center;
      background-size: cover;
    }

  }

  ion-slides {
    --bullet-background: #fff;
    --bullet-background-active: radial-gradient(circle, transparent 20%, white 40%);
    .swiper-pagination {
      opacity: .7;
    }
  }