<div
  [className]="
    classSlider === 'normal' ? 'container-normal' : 'container-circle'
  "
>
  <div class="ion-margin-bottom">
    <ion-label style="font-size: 13px; font-weight: 600;">{{
      title
    }}</ion-label>
  </div>
  <div [className]="classSlider">
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide *ngFor="let story of storys; let i = index">
        <img [src]="story.img" @fadeIn />
      </ion-slide>
    </ion-slides>
  </div>
</div>
<hr class="h1BorderFeed" />
