<ion-item slot="start" lines="none">
  <ion-button fill="clear" small (click)="detailFeed()">
    <ion-badge color="success" style="margin-left: 7px;">2</ion-badge>
    <fa-icon
      style="font-size: 1.2rem; margin-top: 2px"
      [icon]="['far', 'comment-alt']"
      slot="start"
    ></fa-icon>
  </ion-button>
  <ion-button fill="clear" small (click)="changeHeart()">
    <ion-badge color="success" #text style="margin-left: 7px;">{{
      like
    }}</ion-badge>
    <div class="content-heart text-lighter" slot="start">
      <div class="heart" #heart></div>
    </div>
  </ion-button>
  <ion-item slot="end" lines="none">
    <ion-button fill="clear" small (click)="share()">
      <fa-icon
        style="font-size: 1.2rem; margin-top: 2px"
        [icon]="['fas', 'share']"
        slot="start"
      ></fa-icon>
    </ion-button>
  </ion-item>
</ion-item>
