.content-heart {
  position: relative;
  display: inline-block;
  width: auto;
  padding-left: 21px;
}
.heart {
  cursor: pointer;
  height: 60px;
  width: 60px;
  background-image: url("/assets/img/web_heart_animation.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: 2900%;
  position: absolute;
  top: -30px;
  left: -17px;
}

.heart.is_animating {
  background-position: right;
}

.is_animating {
  animation: heart-burst 1.2s steps(28) 1;
}

@keyframes heart-burst {
  from {
    background-position: left;
  }
  to {
    background-position: right;
  }
}
span.dia-num {
  position: absolute;
  top: -7px;
}
span.dia-text {
  position: absolute;
  bottom: -7px;
}

.textColor {
  color: #ed2c4d;
}
