.single-post-home {
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
  width: 100%;
  border-radius: 0;
  margin-bottom: 0px;
  margin-top: 1px;
  box-shadow: 1px 1px rgba(160, 160, 160, 0.453);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem -1rem;
}

.gallery-item {
  position: relative;
  flex: 1 0 22rem;
  margin: 1rem 0;
  height: 300px;
  color: #fff;
  cursor: pointer;
  object-fit: contain;
}
