<app-header [title]="title"></app-header>
<ion-content fullscreen>
  <!---- Fab Button -->
  <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="tertiary" (click)="feedCreate()">
      <ion-icon color="light" name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
  <!---- Refresher -->
  <ion-refresher
    slot="fixed"
    pullFactor="0.5"
    pullMin="100"
    pullMax="200"
    (ionRefresh)="doRefresh($event)"
  >
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-item lines="none">
    <ion-avatar slot="start">
      <img src="/assets/img/profile3.jpg" />
    </ion-avatar>
    <ion-label>
      <h3
        class="textAvatarName"
        style="font-weight: 700;"
        color="primary"
        (click)="feedCreate()"
      >
        ¿Algo nuevo que contar?
      </h3>
    </ion-label>
  </ion-item>
  <hr class="headerBorderFeed" />
  <div #processContainer></div>
  <ion-card
    class="single-post-home ion-padding-bottom"
    *ngFor="let item of feeds"
  >
    <ion-card-header class="ion-no-padding ion-padding-top ion-padding-bottom">
      <ion-item lines="none">
        <ion-avatar slot="start">
          <img src="/assets/img/profile3.jpg" />
        </ion-avatar>
        <ion-label>
          <h4 class="textAvatarName">Tomas Johansson</h4>
          <small class="textAvatarJob">Marketing</small>
          <p style="font-size: 0.7rem;">{{ date }}</p>
        </ion-label>
        <ion-button fill outline (click)="presentActionSheet()">
          <fa-icon
            (click)="presentActionSheet()"
            style="font-size: 1.0rem;"
            [icon]="['fas', 'ellipsis-v']"
          ></fa-icon>
        </ion-button>
      </ion-item>
    </ion-card-header>
    <!-- <app-slider-card></app-slider-card> -->
    <div class="gallery">
      <div class="gallery-item">
        <app-preload-img
          (click)="ampliarImagen($event)"
          [src]="item.image"
        ></app-preload-img>
      </div>
    </div>
    <ion-item lines="none">
      <ion-label>
        <p class="seElPrimero">se el primero en decir me gusta</p>
      </ion-label>
    </ion-item>
    <ion-card-content>
      <ion-card-title class="ion-margin-bottom titleCard">{{
        item.name | titlecase
      }}</ion-card-title>
      <ion-row>
        <ion-col size="12">
          {{ item.Resumen }}
        </ion-col>
      </ion-row>
      <app-iteracciones></app-iteracciones>
    </ion-card-content>
  </ion-card>

  <ion-infinite-scroll threshold="1300px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
