<ion-tabs #myTabs class="tabColor">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" (click)="onPressTab()">
      <fa-icon
        style="font-size: 1.3rem;"
        [icon]="['fas', 'rss-square']"
        class="ion-margin-top"
      ></fa-icon>
      <ion-badge color="secondary" [hidden]="notification === 0">{{
        notification
      }}</ion-badge>
      <ion-label style="font-size: 0.7rem;">Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="beneficios" *ngFor="let item of menu">
      <fa-icon
        style="font-size: 1.3rem;"
        [icon]="item.icon"
        class="ion-margin-top"
      ></fa-icon>
      <ion-label style="font-size: 0.7rem;">{{ item.name }}</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="toggleMenu()">
      <fa-icon
        style="font-size: 1.3rem;"
        [icon]="['fas', 'bars']"
        class="ion-margin-top"
      ></fa-icon>
      <ion-label style="font-size: 0.7rem;">Menu</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
