.background-logo {
  margin-top: -85px;
  img {
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 78%;
    border-bottom-right-radius: 78%;
  }
}

.background-avatar {
  background-color: var(--colorAvatar);
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    height: 100px;
    border-radius: 50%;
    width: 100px;
  }
}
