<ion-header translucent>
  <ion-toolbar>
    <ion-title>Crear Publicacion</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="cerrar()" color="primary" class="ion-text-uppercase">
        Cancelar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <form onsubmit="processForm(event)">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="stacked">Titulo <ion-text>*</ion-text></ion-label>
        <ion-input
          required
          type="text"
          oninput="handleFirstNameValue(event)"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked"
          >Subtitulo <ion-text color="danger">*</ion-text></ion-label
        >
        <ion-input
          required
          type="text"
          oninput="handleLastNameValue(event)"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Notes</ion-label>
        <ion-textarea></ion-textarea>
      </ion-item>
    </ion-list>

    <div class="ion-padding">
      <ion-button
        expand="block"
        (click)="sendPost()"
        type="submit"
        class="ion-no-margin"
        >Publicar</ion-button
      >
    </div>
  </form>
</ion-content>
