<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        routerLink="/menu/main/tabs/home"
        routerDirection="back"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Comentarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content
  [scrollEvents]="true"
  parallaxHeader="https://ununsplash.imgix.net/photo-1421091242698-34f6ad7fc088?fit=crop&fm=jpg&h=650&q=75&w=950"
  [parallaxHeight]="300"
>
  <div class="main-content">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <div style="display: flex;">
            <ion-col size="2">
              <ion-avatar>
                <img
                  src="https://images.unsplash.com/photo-1510227272981-87123e259b17?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&s=3759e09a5b9fbe53088b23c615b6312e"
                />
              </ion-avatar>
            </ion-col>
            <ion-col
              style="background-color: aliceblue; margin-left: 5px; border-radius: 5%;"
            >
              <ion-label>
                <p>
                  is simply dummy text of the printing and typesetting industry.
                  Lorem Ipsum has been the industry's standard dummy
                </p>
              </ion-label>
            </ion-col>
          </div>
        </ion-col>
        <ion-col size="12">
          <div style="display:flex; flex-direction: row-reverse;">
            <ion-col size="2">
              <ion-avatar>
                <img src="https://randomuser.me/api/portraits/women/82.jpg" />
              </ion-avatar>
            </ion-col>
            <ion-col
              style="background-color: aliceblue; margin-right: 5px; border-radius: 5%;"
            >
              <ion-label>
                <p>
                  is simply dummy text of the printing and typesetting industry.
                  Lorem Ipsum has been the industry's standard dummy
                </p>
              </ion-label>
            </ion-col>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
