<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button animated="true" defaulHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Compartir</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item-divider class="colorDivider" sticky="true">
    <ion-searchbar
      (ionChange)="buscar($event)"
      placeholder="Buscar"
    ></ion-searchbar>
  </ion-item-divider>
  <ion-list force-overscroll="true" class="ion-padding-top">
    <ion-item
      lines="full"
      *ngFor="let item of test | filtro: textoBuscar:'title'"
      lines="none"
    >
      <ion-avatar>
        <img
          src="https://images.unsplash.com/photo-1510227272981-87123e259b17?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&s=3759e09a5b9fbe53088b23c615b6312e"
        />
      </ion-avatar>
      <ion-label class="ion-margin-start">
        {{ item.title }}
      </ion-label>
      <ion-checkbox></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
