.container {
  padding: 0px 9px 0px;
}
.swiper-container {
  width: 100%;
  height: 100px;
  // margin: 20px auto;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  img {
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    padding: 2px;
  }
}
