<div class="container">
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide *ngFor="let story of storys; let i = index">
      <img [src]="story.img" @fadeIn />
    </ion-slide>
  </ion-slides>
</div>
