    <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
                <ion-img src="../assets/img/profile1.jpg"></ion-img>
        </ion-slide>
        <ion-slide>
                <ion-img src="../assets/img/profile2.jpg"></ion-img>
        </ion-slide>
        <ion-slide>
                <ion-img src="../assets/img/profile3.jpg"></ion-img>
        </ion-slide>
        <ion-slide>
                <ion-img src="../assets/img/profile4.jpg"></ion-img>
          </ion-slide>
      </ion-slides>  

